<div id="videos-container" class="contents-container">
  {{#each videos as |video|}}
    <div class="video-card">
      <iframe class="video-player" src="http://example.com" frameborder="0" allowfullscreen></iframe>
      <div class="video-title">
        {{video.title}}
      </div>
    </div>
  {{/each}}
</div>

  </body>
</html>
<a href="/videos/create" id="save-video-btn" class="add-video-button">Save a video</a>
